/.idea
/src
/tasks
/test
/typings
/scratch

/tsd.json
/tslint.json
/Vagrantfile
/Gruntfile.js

.npmignore
.gitignore
.gitmodules

.travis.yml
.jshintrc
.vagrant
.editorconfig

/tscommand*
.tscache
tmp/

/*.tgz
/*.txt
